<%- model_class = RegularPionner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:people_id) %>:</strong></dt>
  <dd><%= @regular_pionner.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:designation_date) %>:</strong></dt>
  <dd><%= @regular_pionner.designation_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:removal_date) %>:</strong></dt>
  <dd><%= @regular_pionner.removal_date %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              regular_pionners_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_regular_pionner_path(@regular_pionner), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              regular_pionner_path(@regular_pionner),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
